<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <ul class="nav-bar">
        <li><a href="/">Homepage</a></li><li><a href="/assign-grade">Assign Grade</a></li><li><a href="/new-student">New Student</a></li><li><a href="/new-project">New Project</a></li>
    </ul>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}
</body>
</html>